[Unit]
Description=Apache Container

[Service]
Restart=always
User=rsletten
ExecStart=/usr/bin/podman start -a apache 
ExecStop=/usr/bin/podman stop -t 2 apache

[Install]
WantedBy=local.target
