[Unit]
Description=Jenkins Container

[Service]
Restart=always
User=rsletten
ExecStart=/usr/bin/podman start -a jenkins 
ExecStop=/usr/bin/podman stop -t 2 jenkins

[Install]
WantedBy=local.target
